xml-uppgift/src/main/resources/InboundCurrencyExchange.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.javatpoint.com"
           xmlns="http://www.javatpoint.com"
           elementFormDefault="qualified">

    <xs:element name="InboundCurrencyExchange">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="from" type="xs:string"/>
                <xs:element name="to" type="xs:string"/>
                <xs:element name="conversionMultiple" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>